body {
  background-color: #ffffff;
  color: #494d4b;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

h2 {
  color: #494D4B;
  font-size: 24px;
}

p {
  font-size: 16px;
  line-height: 26px;
}