.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.content {
  width: 50%;
  padding: 20px;
}

.sidebar {
  width: 50%;
  background-color: #8257E5;
  height: 100vh;
}